arxiv
beautifulsoup4
chromadb
ddgs
duckdb
duckduckgo-search
faiss-cpu
huggingface_hub
langchain
langchain-chroma
langchain-community
langchain-groq
langchain-huggingface
langchain-openai
langchain-text-splitters
mysql-connector-python
numexpr
openai
pandas
pypdf
pytube
python-dotenv
pymupdf
SQLAlchemy
streamlit
unstructured
validators==0.28.1
wikipedia
youtube-transcript-api
